{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "importOrder": [
    "react",
    "^(?!@web)([a-zA-Z@/\\-]*)$",
    "^@web/([a-zA-Z@/\\-]*)$",
    "^@web/(.*)$",
    "^~(.+)$",
    "^[./]",
    "^[a-zA-Z@/\\-]*\\.[a-zA-Z0-9]*$",
    "^(.+)$"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "typescript", "typescriptreact"]
}
